
<div class="banner" style="background-image: url('<%=image_path "banner_home.jpeg"%>');">
  <div class="container">
    <h1>Rent a Goat</h1>
    <p>Changez votre vision de la tonte</p
    <a href="" class="btn-primary">Découvrez</a>


  </div>
</div>



