<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "banner_2.jpg" %>');">
  <div class="container">
    <h1>Rent a Goat</h1>
    <p>Changez votre vision de la tonte</p>
    <a class="btn-cta" href="/herds">Découvrez-nous</a>
  </div>
</div>

<div class="container">

  <h2 class="text-center">Notre concept</h2>

  <div class="cards">

    <div class="card">
      <%= image_tag "ecologie.jpg", alt:"image nature" %>
      <h5>Une tonte écologique</h5>
      <p>Remplacez une machine par un animal! Fini l'essence, place au broutage!</p>
    </div>

   <div class="card">
    <%= image_tag "grass.jpg", alt:"image tonte" %>
    <h5>Une tonte économique</h5>
    <p>N'achetez plus, louez selon vos besoins!</p>
    </div>

   <div class="card">
     <%= image_tag "voisin.jpg", alt:"image voisin" %>
    <h5>Une tonte silencieuse</h5>
    <p>Finies les querelles de voisinage dûes aux tontes intempestives!</p>
  </div>

  </div>

</div>



