
  <h1 class="text-center">Découvrez nos troupeaux</h1>

  <div class="content">

    <div class="map-cards">

        <% @herds.each do |herd| %>
            <div class="card_index">
              <%= image_tag herd.photo, alt:"image troupeau" %>
              <p><%= link_to herd.name, herd_path(herd.id) %></p>
            </div>
        <% end %>

    </div>

    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>











