<h1>Découvrez nos troupeaux :</h1>

<div class="container">
  <ul>
    <% @herds.each do |herd| %>
    <li><%= link_to "#{herd.name}", herd %></li>
    <% end %>
  </ul>
</div>
<%= link_to "Souhaitez-vous proposer un troupeau?", new_herd_path %>



