.btn-cta {
  background-color: #1EDD88;
  color: white;
  font-weight: bold;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.btn-cta:hover {
  text-decoration: none;
  color: white;
}
