.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

a:hover {
  opacity: 2;
  color: grey;
  font-weight: bold;
}

.content-wrapper {
  min-height: calc(100vh - 70px - 80px);
  position: relative;
}
