.container-dashboard {
  display: flex;
  justify-content: space-between;
  // width: 900px;
  // margin: 20px auto;
}

.my_herds ul li {
  border-bottom: 1px solid black;
  padding: 0;
}

.my_bookings {
  border-right: 1px solid black;
}

.my_bookings ul li {
  border-bottom: 1px solid black;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
}

.my_bookings h2 {
  margin-bottom: 20px;
}

.my_herds h2 {
  margin-bottom: 20px;
}

